# optional, default: development
# NODE_ENV=development

# required if NODE_ENV is production, values: staging, production
# NODE_ENV_MODE=staging

# optional, default: 8000
# PORT=8000

# optional, default: upload
# STATIC_FOLDER=upload

# optional, default: 50mb
# BODY_PARSER_LIMIT=50mb

SESSION_NAME=session-ssl-be
SESSION_SECRET=session-ssl-be

# optional, default: localhost
# MONGO_HOST=localhost

# optional, default: 27017
# MONGO_PORT=27017

MONGO_NAME=ssl-be

# optional, default: ''
# MONGO_USERNAME=

# optional, default: ''
# MONGO_PASSWORD=

# optional, default: backup
# MONGO_BACKUP_FOLDER=backup

# optional, default: []
# CORS_WHITELIST=["http://localhost:8000"]

# optional, default: /subscriptions
# ENDPOINT_WS=/subscriptions

# optional, default: /graphql
# ENDPOINT_GRAPHQL=/graphql

# optional, default: /rest
# ENDPOINT_RESTAPI=/rest

JWT_SECRET=secret-or-public-key-min-32-chars

IPINFO_TOKEN=

# optional, default: uploads
# UPLOAD_FOLDER=uploads

# optional, default: localhost
# REDIS_HOST=localhost

# optional, default: 6379
# REDIS_PORT=6379

# optional, default: Secret Swinger Lust
# EMAIL_NAME=

# optional, default: no-reply@secretswingerlust.com
# FROM_EMAIL_ADDRESS=

# AWS credentials

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# optional, default: eu-central-1
# AWS_MODERATION_REGION=eu-central-1

# optional, default: eu-central-1
# AWS_BUCKET_REGION=eu-central-1

# optional, default: ssl-moderation-video
# AWS_BUCKET_NAME=ssl-moderation-video

# Bunny CDN and Storage configuration
BUNNY_CDN_HOSTNAME=
BUNNY_CDN_SECURITY_KEY=
BUNNY_STORAGE_ZONE_NAME=
BUNNY_STORAGE_API_KEY=
BUNNY_STREAM_HOST_NAME=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_API_KEY=
BUNNY_STREAM_SECURITY_KEY=
BUNNY_OPTIMIZER_BLUR_CLASS=

# Postmark server API token
POSTMARK_SERVER_API_TOKEN=
